.container
	.row
		.col-lg-6.col-lg-offset-3.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2.col-xs-12
			%h1 WebHub
			%p Webhub est un site web écrit en Ruby On Rails et qui veut devenir l'annuaire web du Sénégal. 
			%p Chaque utilisateur peut ajouter un lien d'un site web qu'il trouve intéressant et qui pourra servir la communauté.
			%p Le menu comporte 14 rubriques, alors n'hésiter pas de me signaler d'autres rubrique sur derwebdev@gmail.com
			%h4 Auteur 
			%a{:href => "http://twitter.com/derkhadim"} Mouhamadou DER